<div class="page-width">
<div class="about-title">
    <h2> {{ page.title }} </h2>
    </div>
    
    <section class="product-detail-accordion product-detail-loop about-page-content">
        {% for block in section.blocks %}
            <div class="product-detail-accordion-flex">
                <div class="product-accordion-img-col">
                {{ section.settings.image | image_url : width : 545 | image_tag : width : nill }}
                </div>
                <div class="product-accordion-text-col">
                <h3>  {{ block.settings.heading }} </h3>
                    {{ block.settings.info }}
                <div class="product-accordion-detail">
                    {% if block.settings.button_text != blank and block.settings.link != blank %}
                    <a href="{{ block.settings.link }}" class="btn"><span>{{ block.settings.button_text }}</span></a>
                    {% endif %}
                </div>
                </div>
            </div>
        {% endfor %}
</section>
</div>

{% schema %}
{
    "name" : "Who We Are",
    "settings":
    [
    ],
    "blocks":
    [
        {
            "type" : "whoWeAre",
            "name" : "Who We Are",
            "settings":
            [
               {
                   "type": "text",
                   "id": "heading",
                   "label": "Heading"
               },
              {
                  "type": "richtext",
                  "id": "info",
                  "label": "Description"
              },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default" : "Read More"
                },
               {
                   "type": "url",
                   "id": "link",
                   "label": "Link"
               },
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              }
             
            ]
        }
    ]
}
{% endschema %}