<section class="product-detail-accordion">
    <div class="page-width">
      <div class="product-detail-accordion-flex">
        <div class="product-accordion-img-col">          
          <img src="{{  section.settings.image | img_url: 'original' }}" class="lazyload" alt="{{ feature.settings.heading | escape | strip_html }}">
        </div>
        <div class="product-accordion-text-col">
          <div class="accordion_container">
            {% for block in section.blocks %}
                {% if block.settings.quiz != blank %}
                <div class="accordian-tabs faqs-accordian-tabs" {% unless forloop.first %}
                    style="display: none;"
                {% endunless %}>
                    <div class="accordion_head">
                    <h3> {{ block.settings.quiz }} </h3>
                    </div>
                    <div class="accordion_body">
                    <p>
                        {{ block.settings.answer }}
                    </p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
          </div>
          <div class="product-accordion-detail">
            {% if section.settings.link != blank and section.settings.button_text != blank %}
                <a href="{{ section.settings.link }}" class="btn"><span> {{ section.settings.button_text }} </span></a>                
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% schema %}
    {
        "name": "Image With Accordion",
        "settings": 
        [
           {
               "type": "image_picker",
               "id": "image",
               "label": "Image"
           },
          {
              "type": "text",
              "id": "button_text",
              "label": "Button Text",
              "default": "Read More"
          },
         {
             "type": "url",
             "id": "link",
             "label": "Link"
         }
        ],
        "blocks":
        [
           {
               "type" : "FAQ",
                "name" : "FAQ",
               "settings": [
                  {
                      "type": "textarea",
                      "id": "quiz",
                      "label": "Question"
                  },
                 {
                     "type": "textarea",
                     "id": "answer",
                     "label": "Answer"
                 }
               ]
           }
        ]
    }
{% endschema %}