
<section class="product-detail-accordion product-detail-loop">
  <div class="page-width">
    {% for block in section.blocks %}
        <div class="product-detail-accordion-flex">
          <div class="product-accordion-text-col">
            <h3> {{ block.settings.heading }} </h3>
            {{ block.settings.info }}
            <div class="product-accordion-detail">
              {% if section.settings.link != blank and section.settings.button_text != blank %}
              <a href="{{ section.settings.link }}" class="btn"><span>{{ section.settings.button_text }}</span></a>
              {% endif %}
            </div>
          </div>
          <div class="product-accordion-img-col">
            <img src="{{  block.settings.image | img_url: 'original' }}" class="lazyload" alt="{{ feature.settings.heading | escape | strip_html }}">
          </div>
          
        </div>
    {% endfor %}
    <div class="product-detail-accordion-flex">
      <div class="product-accordion-text-col">
        <h3>Is Delta 8 Legit and Safe to Consume?</h3>
        <p>So you’re curious about trying Delta 8 THC. Congrats! You’re in for a real therapeutic treat. </p>

        <p>But we get it… You’re not 100% sure if you even understand what Delta 8 THC is, let alone if it’s a legit cannabinoid that’s safe to consume. </p>

        <p>Here’s the good news… Delta 8 THC is 100% a legit, legal cannabinoid! And as for its safety profile, multiple studies have shown it to hold tremendous medicinal properties for the human body. So, yes… High quality, pure Delta 8 THC is safe to consume [¹].</p> 
        <div class="product-accordion-detail">
          <a href="#" class="btn"><span>Read More</span></a>
        </div>
      </div>
      <div class="product-accordion-img-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/delta-thc2.png?v=1646737288">
      </div>
      
    </div>
    <div class="product-detail-accordion-flex">
      <div class="product-accordion-text-col">
        <h3>Is Delta 8 Legit and Safe to Consume?</h3>
        <p>So you’re curious about trying Delta 8 THC. Congrats! You’re in for a real therapeutic treat. </p>

        <p>But we get it… You’re not 100% sure if you even understand what Delta 8 THC is, let alone if it’s a legit cannabinoid that’s safe to consume. </p>

        <p>Here’s the good news… Delta 8 THC is 100% a legit, legal cannabinoid! And as for its safety profile, multiple studies have shown it to hold tremendous medicinal properties for the human body. So, yes… High quality, pure Delta 8 THC is safe to consume [¹].</p> 
        <div class="product-accordion-detail">
          <a href="#" class="btn"><span>Read More</span></a>
        </div>
      </div>
      <div class="product-accordion-img-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/delta-thc3.png?v=1646737853">
      </div>
      
    </div>
  </div>
</section>


{% schema %}
    {
        "name": "Image With Text",
        "settings": [],
        "blocks":
        [
           {
               "type" : "Image-Text",
                "name" : "Image With Text",
               "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                  {
                      "type": "richtext",
                      "id": "info",
                      "label": "Description"
                  },
                  {
                      "type": "text",
                      "id": "button_text",
                      "label": "Button Text",
                      "default": "Read More"
                  },
                  {
                      "type": "url",
                      "id": "link",
                      "label": "Link"
                  },
                  {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                  }
               ]
           }
        ]
    }
{% endschema %}
