<div class="page-width">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1> {{ page.title }} </h1>
      </div>

      {% if page.content.size > 0 %}
      <div class="rte">
        {{ page.content }}
      </div>
      {% endif %}
      <div class="contact-flex">
        {% section 'contact-info' %}
        
        <div class="contact-form-col">
        <div class="contact-form form-vertical">
          <h3>Send Us a mesaage</h3>
          {%- assign formId = 'ContactForm' -%}
          {% form 'contact', id: formId %}
          {% include 'form-status', form: form, form_id: formId %}

          <div class="grid">
            <div class="grid__item">
              <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
              <input type="text" required id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div>
            <div class="grid__item">
              <label for="{{ formId }}-lastname">Last Name*</label>
              <input type="text" required id="{{ formId }}-lastname" name="contact[last_name]" value="{% if form[last_name] %}{{ form[last_name] }}{% elsif last_name %}{{ customer.last_name }}{% endif %}">
            </div>
            <div class="grid__item">
              <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
              <input
                     type="email" required
                     id="{{ formId }}-email"
                     name="contact[email]"
                     autocorrect="off"
                     autocapitalize="off"
                     value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                     aria-required="true"
                     {%- if form.errors contains 'email' -%}
                     class="input--error"
                     aria-invalid="true"
                     aria-describedby="{{ formId }}-email-error"
                     {%- endif -%}
                     >
              {%- if form.errors contains 'email' -%}
              <span id="{{ formId}}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
              {%- endif -%}
            </div>
          </div>

          <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="{{ formId }}-message" required name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <button type="submit" class="btn"><span>{{ 'contact.form.submit' | t }}</span></button>

          {% endform %}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
